<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="save()">
        SAVE
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button color="danger" (click)="close()">
        CANCEL
      </ion-button>
    </ion-buttons>
    <ion-title>
      New Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-input required="true" placeholder="Name" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Frequency" type="number" [(ngModel)]="frequency"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
